<div class="row hide-on-print hide-mobile">
	<div class="columns twelve">
		<div class="owl-carousel">
			<div>
				<img src="/img/carousel/home/slide_pro.png" />
				<span><a href="/contact/formulaire-embauche"><b>Embauchez-moi</b></a></span>
			</div>
			<div>
				<img src="/img/carousel/home/slide_github.png" />
				<span><a href="http://github.com/iGitScor"><b>Fork me</b></a></span>
			</div>
			<div>
				<img src="/img/carousel/home/slide_mail.png" />
				<span><a href="/contact/formulaire-de-contact"><b>Contactez-moi</b></a></span>
			</div>
			<div>
				<img src="/img/carousel/home/slide_twitter.png" />
				<span><a href="http://www.twitter.com/iTweetScor"><b>Suivez-moi</b></a></span>
			</div>
			<div>
				<img src="/img/carousel/home/slide_project.png" />
				<span><a href="#realisations"><b>Mes projets</b></a> : JS13k,	Zori</span>
			</div>
		</div>
	</div>
</div>

{# Alternative for mobile #}

<div class="row hide-on-print show-mobile">
	<div class="columns twelve">
		<ul class="bulletless no-bullet">
			<li><span><a href="/contact/formulaire-embauche">&#x25B6;&nbsp;<b>Embauchez-moi</b></a></span></li>
			<li><span><a href="http://github.com/iGitScor">&#x25B6;&nbsp;<b>Fork me</b></a></span></li>
			<li><span><a href="/contact/formulaire-de-contact">&#x25B6;&nbsp;<b>Contactez-moi</b></a></span></li>
			<li><span><a href="http://www.twitter.com/iTweetScor">&#x25B6;&nbsp;<b>Suivez-moi</b></a></span></li>
		</ul>
	</div>
</div>