<div class="row hide-on-print hide-mobile">
	<div class="columns twelve">
		<div class="owl-carousel">
			<div>
				<img src="/img/carousel/home/slide_pro.png" alt="Pro" />
				<span><a href="/{{t('technical.lang')}}/contact/{{t('routing:urls.hire.url')}}"><b>{{t('slideshow.hire')}}</b></a></span>
			</div>
			<div>
				<img src="/img/carousel/home/slide_github.png" alt="GitHub" />
				<span><a href="http://github.com/iGitScor"><b>Fork me</b></a></span>
			</div>
			<div>
				<img src="/img/carousel/home/slide_mail.png" alt="Contact mail" />
				<span><a href="/{{t('technical.lang')}}/contact/{{t('routing:urls.contact.url')}}"><b>{{t('slideshow.contact')}}</b></a></span>
			</div>
			<div>
				<img src="/img/carousel/home/slide_twitter.png" alt="Twitter @iTweetScor"/>
				<span><a href="http://www.twitter.com/iTweetScor"><b>{{t('slideshow.follow')}}</b></a></span>
			</div>
			<div>
				<img src="/img/carousel/home/slide_project.png" alt="{{t('slideshow.projects')}}"/>
				<span><a href="#{{t('homepage.navigation.realisations.anchor')}}"><b>{{t('slideshow.projects')}}</b></a> : JS13k, Zori</span>
			</div>
		</div>
	</div>
</div>

{# Alternative for mobile #}

<div class="row hide-on-print show-mobile">
	<div class="columns twelve">
		<ul class="bulletless no-bullet">
			<li><span><a href="/{{t('technical.lang')}}/contact/{{t('routing:urls.hire.url')}}">&#x25B6;&nbsp;<b>{{t('slideshow.hire')}}</b></a></span></li>
			<li><span><a href="http://github.com/iGitScor">&#x25B6;&nbsp;<b>Fork me</b></a></span></li>
			<li><span><a href="/{{t('technical.lang')}}/contact/{{t('routing:urls.contact.url')}}">&#x25B6;&nbsp;<b>{{t('slideshow.contact')}}</b></a></span></li>
			<li><span><a href="http://www.twitter.com/iTweetScor">&#x25B6;&nbsp;<b>{{t('slideshow.follow')}}</b></a></span></li>
		</ul>
	</div>
</div>