<div class="row hide-on-print">
	<div class="columns twelve">
		<div class="owl-carousel">
			<div>
		  	<img src="/img/carousel/home/slide_pro.png"/>
		  	<span><a href="/contact/formulaire-embauche"><b>Embauchez-moi</b></a></span>
		  </div>
		  <div>
		  	<img src="/img/carousel/home/slide_twitter.png"/>
		  	<span><a href="http://www.twitter.com/iTweetScor"><b>Suivez-moi</b></a></span>
		  </div>
		  <div>
		  	<img src="/img/carousel/home/slide_mail.png"/>
		  	<span><a href="/contact/formulaire-de-contact"><b>Contactez-moi</b></a></span>
		  </div>
		  <div>
		  	<img src="/img/carousel/home/slide_github.png"/>
		  	<span><a href="http://github.com/iGitScor"><b>Fork me</b></a></span>
		  </div>
		  <div>
		  	<img src="/img/carousel/home/slide_project.png"/>
		  	<span><a href="#realisations"><b>Mes projets</b></a> : JS13k,	Zori</span>
		  </div>
		</div>
	</div>
</div>