.onclick-menu {
    position: relative;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
    outline: 0px solid transparent;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;
    outline: 0px solid transparent;
    margin-top: 17px;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}

.onclick-menu:focus .onclick-menu-content a {
    margin: 1px;
}