{% extends '../../layout.html' %}

{% block head_style %}
  {% parent %}
  <link rel="stylesheet" href="/css/badge-1.0.min.css">
  <link rel="stylesheet" href="/css/pages/cv.presentation.css">
{% endblock %}

{% block header_content %}
<nav id="primary">
	<ul class="tiny-hide">
		<li>
  			<a>{{ title }} en 5 points !</a>
		</li>
  	</ul>
</nav>
{% endblock %}

{% block content %}
<div class="container page">
	<article>
	    <div class="row" id="presentation" >
          	<div class="divider twelve columns end">
        		<p>Pr&eacute;sentation de l'&eacute;tude</p>
          	</div>

          	<div class="twelve columns">
                <p class="see-more">Selon de nombreuses &eacute;tudes r&eacute;centes en psychologie sociale, les individus ont un impact important les uns sur les autres.
                    La construction de la personnalit&eacute; d'un &circ;tre est largement influenc&eacute;e par son environnement et ses proches.
                    Plus votre entourage approuve vos actions et vos id&eacute;es, plus vous vous sentez confiant et &ecirc;tes port&eacute; &agrave; la r&eacute;ussite.
                    Nous pouvons appeler cela "<em>l'Effet de R&eacute;seau</em>" sur le comportement.
                </p>
                <br /> <br />
                <blockquote class="right">
                    <p class="see-more">
                        Article Wikipedia <br class="show-mobile"><b>&#8594;</b> <a href="http://fr.wikipedia.org/wiki/Effet_de_r%C3%A9seau" title="Wikipedia - l'effet de r&eacute;seau">l'Effet de R&eacute;seau</a>
                    </p>
                </blockquote>
          	</div>
        </div>

        <div class="row" id="communicate">
          	<div class="divider twelve columns end">
        		<p>Communiquer</p>
          	</div>

          	<div class="four columns svg-container">
          	    <svg viewBox="0 0 110 110" preserveAspectRatio="xMinYMin">
          	        <g transform="translate(55,55)">
          	            <text text-anchor="middle" dy="9.166666666666666" dx="2" fill="steelblue">5.3</text>
          	            <path d="M0,-55A55,55 0 1,1 -10.305972302214865,54.025798790077864L-8.244777841771892,43.220639032062294A44,44 0 1,0 0,-44Z" style="fill: rgb(241, 196, 15);"></path>
          	        </g>
          	    </svg>
          	    <br />
          	    <div class="feature beige2 custom-feature">
          	        <img alt="Communiquer" class="talent-icon-big left" src="/img/talent/communicate.png" style="position:relative; bottom:-5px" width="200" height="200"/> <br />
          	        <p><b>+</b> Ouverture aux autres <br />
          	           <b>-</b> Aisance en public
          	        </p>
          	    </div>
          	</div>

          	<div class="eight pull-right columns">
                <ul>
                    <li>Vous &ecirc;tes r&eacute;serv&eacute;, vous avez tendance &agrave; ne pas vous sentir &agrave; l'aise en public ou &agrave; l'abord de
                    personnes que vous ne connaissez pas.</li>
                    <li>Vous &ecirc;tes ouvert et prenez le temps d'&eacute;couter les autres. Vous &ecirc;tes curieux et vous
                    int&eacute;ressez aux id&eacute;es nouvelles.</li>
                    <li>Vous savez faire passer vos id&eacute;es avec tact. Toutefois, les situations de conflit ne vous
                    d&eacute;rangent pas quand elles s'imposent.</li>
                    <li>Vous n'&eacute;prouvez pas forc&eacute;ment de plaisir &agrave; argumenter, mais n'h&eacute;sitez pas &agrave; d&eacute;fendre vos
                    points de vue lorsque c'est important.</li>
                </ul>
          	</div>
        </div>

        <div class="row" id="manage">
          	<div class="divider twelve columns end">
        		<p>Manager</p>
          	</div>

          	<div class="four columns svg-container">
          	    <svg viewBox="0 0 110 110" preserveAspectRatio="xMinYMin">
          	        <g transform="translate(55,55)">
          	            <text text-anchor="middle" dy="9.166666666666666" dx="2" fill="steelblue">3.8</text>
          	            <path d="M0,-55A55,55 0 0,1 37.650090826077886,40.09327450817763L30.12007266086231,32.0746196065421A44,44 0 0,0 0,-44Z" style="fill: rgb(52, 152, 219);"></path>
          	        </g>
          	    </svg>
          	    <br />
          	    <div class="feature beige2 custom-feature">
          	        <img alt="Manager" class="talent-icon-big left" src="/img/talent/manage.png" style="position:relative; bottom:-5px" width="200" height="200"/> <br />
          	        <p><b>+</b> Organisation <br />
          	           <b>-</b> Diriger
          	        </p>
          	    </div>
          	</div>

          	<div class="eight pull-right columns">
                <ul>
                    <li>Vous ne souhaitez pas vous imposer au sein d'un groupe et prendre un r&ocirc;le de leader. Vous
                    pouvez naturellement laisser les autres d&eacute;cider.</li>
                    <li>Vous ne recherchez pas naturellement les responsabilit&eacute;s, vous pouvez avoir du mal &agrave; vous
                    investir dans un projet auquel vous n'adh&eacute;rez pas.</li>
                    <li>Vous &ecirc;tes flexible, vous comptez plus sur votre sens de l'adaptation que sur votre rigueur pour
                    atteindre vos r&eacute;sultats.</li>
                    <li>Vous avez le sens du d&eacute;tail et aimez vous atteler &agrave; des t&acirc;ches pr&eacute;cises, vous pouvez parfois
                    manquer de recul.</li>
                </ul>
          	</div>
        </div>

        <div class="row" id="dare">
          	<div class="divider twelve columns end">
        		<p>Oser</p>
          	</div>

          	<div class="four columns svg-container">
          	    <svg viewBox="0 0 110 110" preserveAspectRatio="xMinYMin">
          	        <g transform="translate(55,55)">
          	            <text text-anchor="middle" dy="9.166666666666666" dx="2" fill="steelblue">7.5</text>
          	            <path d="M0,-55A55,55 0 1,1 -55,6.735557393501354e-15L-44,5.388445914801083e-15A44,44 0 1,0 0,-44Z" style="fill: rgb(231, 76, 60);"></path>
          	        </g>
          	    </svg>
          	    <br />
          	    <div class="feature beige2 custom-feature">
          	        <img alt="Oser" class="talent-icon-big left" src="/img/talent/dare.png" style="position:relative; bottom:-5px" width="200" height="200"/> <br />
          	        <p><b>+</b> Cr&eacute;ativit&eacute; <br/>
          	            <b>&nbsp;</b>
          	        </p>
          	    </div>
          	</div>

          	<div class="eight pull-right columns">
                <ul>
                    <li>Vous savez vous fier &agrave; vos jugements et surmonter vos doutes lorsque vous n'&ecirc;tes pas s&ucirc;r de r&eacute;ussir.</li>
                    <li>Vous avez vos propres opinions mais restez sensible &agrave; la critique de votre entourage.</li>
                    <li>Vous aimez innover et trouver des solutions originales, vous &ecirc;tes peu conventionnel.</li>
                    <li>Vous aimez &eacute;voluer de mani&egrave;re ind&eacute;pendante m&ecirc;me si vous appr&eacute;ciez de partager vos r&eacute;alisations.</li>
                </ul>
          	</div>
        </div>

        <div class="row" id="adapt">
          	<div class="divider twelve columns end">
        		<p>S'adapter</p>
          	</div>

          	<div class="four columns svg-container">
          	    <svg viewBox="0 0 110 110" preserveAspectRatio="xMinYMin">
          	        <g transform="translate(55,55)">
          	            <text text-anchor="middle" dy="9.166666666666666" dx="2" fill="steelblue">6.3</text>
          	            <path d="M0,-55A55,55 0 1,1 -40.09327450817763,37.65009082607789L-32.0746196065421,30.120072660862313A44,44 0 1,0 0,-44Z" style="fill: rgb(39, 174, 96);"></path>
          	        </g>
          	    </svg>
          	    <br />
          	    <div class="feature beige2 custom-feature">
          	        <img alt="Adapt" class="talent-icon-big left" src="/img/talent/adapt.png" style="position:relative; bottom:-5px" width="200" height="200"/> <br />
          	        <p><b>+</b> R&eacute;activit&eacute; <br/>
          	           <b>-</b> Patience
          	        </p>
          	    </div>
          	</div>

          	<div class="eight pull-right columns">
                <ul>
                    <li>Vous n'avez pas de mal &agrave; garder votre calme dans les situations stressantes, vous supportez bien la pression.</li>
                    <li>Vous faites preuve d'une grande r&eacute;activit&eacute;, vous privil&eacute;giez l'action &agrave; la r&eacute;flexion..</li>
                    <li>Vous privil&eacute;giez les actions qui vous permettent d'avoir des retomb&eacute;es imm&eacute;diates, vous n'aimez pas attendre pour obtenir des r&eacute;sultats concrets.</li>
                    <li>Vous aimez b&eacute;n&eacute;ficier d'une certaine libert&eacute; d'action, parfois au d&eacute;triment des r&egrave;gles en vigueur.</li>
                </ul>
          	</div>
        </div>


        <div class="row" id="excel">
          	<div class="divider twelve columns end">
        		<p>Se d&eacute;passer</p>
          	</div>

          	<div class="four columns svg-container">
          	    <svg viewBox="0 0 110 110" preserveAspectRatio="xMinYMin">
          	        <g transform="translate(55,55)">
          	            <text text-anchor="middle" dy="9.166666666666666" dx="2" fill="steelblue">5</text>
          	            <path d="M0,-55A55,55 0 1,1 0,55L0,44A44,44 0 1,0 0,-44Z" style="fill: rgb(155, 89, 182);"></path>
          	        </g>
          	    </svg>
          	    <br />
          	    <div class="feature beige2 custom-feature">
          	        <img alt="Excel" class="talent-icon-big left" src="/img/talent/excel.png" style="position:relative; bottom:-5px" width="200" height="200"/> <br />
          	        <p><b>+</b> D&eacute;termination <br/>
          	           <b>-</b> Esprit de comp&eacute;tition
          	        </p>
          	    </div>
          	</div>

          	<div class="eight pull-right columns">
                <ul>
                    <li>Vous savez maintenir le cap et aller de l'avant pour atteindre vos objectifs. Vous pouvez cependant vous adapter aux difficult&eacute;s rencontr&eacute;es.</li>
                    <li>Vous souhaitez progresser &agrave; votre rythme. Vous ne cherchez pas &agrave; gravir les &eacute;chelons &agrave; tout prix.</li>
                    <li>Vous savez g&eacute;rer les p&eacute;riodes d'activit&eacute; intense m&ecirc;me si vous aimez garder du temps pour vous.</li>
                    <li>Vous pr&eacute;f&eacute;rez &eacute;viter les situations de rivalit&eacute; pour privil&eacute;gier la coop&eacute;ration. Vous n'&eacute;prouvez pas forc&eacute;ment le besoin d'&ecirc;tre le meilleur.</li>
                </ul>
          	</div>
        </div>
	</article>
</div>
{% endblock %}