{% extends 'layout.html' %}

{% block title %}Contact{% endblock %}

{% block header_content %}
<nav id="primary">          
	<ul class="tiny-hide">
		<li class="topnav here">
  		    <a href="#" title="Curriculum vitae">Formulaire de contact</a>
		</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="container page no-fix">
    <article>
	    <div class="row">
            <section class="container">
                {% if name %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
                    <strong>Merci</strong> pour votre message <strong>{{name}}</strong>
                </div>
                {% endif %}
            
                <form role="form" action={{ '/contact/' }}{{ type }} method="post" class="big-box columns end six push-three">
                    <div class="form-group">
                        <label for="email" class="secondary">Email</label>
                        <input type="email" name="email" class="form-control primary" id="email" placeholder="Entrer votre email...">
                    </div>
                    <div class="form-group">
                        <label for="name" class="secondary">Nom</label>
                        <input type="text" name="name" class="form-control primary" id="name" placeholder="Entrer votre nom...">
                    </div>
                    <div class="form-group">
                        <label for="msg" class="secondary">Message</label>
                        <textarea name="msg" class="form-control primary" id="msg" rows="3"></textarea>
                    </div>
                    <button type="submit" class="button-box blue">Envoyer</button>
                </form>
            </section>
        </div>
    </article>
</div>
{% endblock %}