{% extends 'layout.html' %}

{% block init_script %}
{% endblock %}

{% block head_style %}
  	<link rel="stylesheet" href={{ styles }}>
{% endblock %}

{% block head_script %}
		<script defer src={{ scripts }}></script>
{% endblock %}

{% block header_content %}
<nav id="primary">
  <select id="mobile-navigation">
    <option>&nbsp;</option>
    <optgroup label="{{t('homepage.navigation.quick')}}">
	    <option value="#{{t('homepage.navigation.presentation.anchor')}}">{{t('homepage.navigation.presentation.text')}}</option>
	    <option value="#{{t('homepage.navigation.pro.anchor')}}">{{t('homepage.navigation.pro.text')}}</option>
	    <option value="#{{t('homepage.navigation.realisations.anchor')}}">{{t('homepage.navigation.realisations.text')}}</option>
	    <option value="#{{t('homepage.navigation.competences.anchor')}}">{{t('homepage.navigation.competences.text')}}</option>
	  </optgroup>
    <optgroup label="{{t('homepage.navigation.content')}}">
	    <option value="/{{t('technical.lang')}}/{{t('routing:urls.network.url')}}">{{t('routing:urls.network.text')}}</option>
	  </optgroup>
	  <optgroup label="{{t('homepage.navigation.contact')}}">
	  	<option value="/{{t('technical.lang')}}/contact/{{t('routing:urls.contact.url')}}">{{t('routing:urls.contact.text')}}</option>
	    <option value="/{{t('technical.lang')}}/contact/{{t('routing:urls.hire.url')}}">{{t('routing:urls.hire.text')}}</option>
	  </optgroup>
  </select>

	<ul class="tiny-hide">
		<li>
  		<a>{{t('routing:urls.home.title')}}</a>
		</li>
  </ul>
</nav>
{% endblock %}

{% block content_header_link %}{% endblock %}

{% block content %}
<div class="container page">
	<article>
		{% parent %}
		<div class="row hide-on-print">
				{% if message.length > 0  %}
					<notice>{{message}}</notice>
				{% endif %}

				<md-tabs md-selected="selectedIndex" class="twelve columns">
						<md-tab label="{{t('homepage.navigation.presentation.title')}}" md-no-ink>
						{% include 'cv/presentation.html' %}
						</md-tab>

						{% if t('technical.lang') == 'fr' %}
							<md-tab label="{{t('homepage.navigation.pro.title')}}" md-no-ink>
				    	{% include 'cv/professional.html' %}
				    	</md-tab>
				    {% endif %}

						<md-tab label="{{t('homepage.navigation.realisations.title')}}" md-no-ink>
		    		{% include 'cv/realisations.html' %}
		    		</md-tab>

		    		<md-tab label="{{t('homepage.navigation.study.title')}}" md-no-ink>
						{% include 'cv/etudes.html' %}
						</md-tab>

						<md-tab label="{{t('homepage.navigation.competences.title')}}" md-no-ink>
						{% include 'cv/competences.html' %}
						</md-tab>

						<md-tab label="{{t('homepage.navigation.hobbies.title')}}" md-no-ink>
						{% include 'cv/hobbies.html' %}
						</md-tab>
				</md-tabs>
		</div>
	</article>
</div>
{% endblock %}

{% block footer_content %}
<div class="container sub-footer hide-on-print">
	<br />
	<div class="row">
		<div class="four columns">
			<div class="inner">
				<h2>
					<a class="pinned" data-icon="1">
      			<span>{{t('pages:home.footer_content.colone')}}</span>
    			</a>
    		</h2>
				<p>{{t('pages:home.footer_content.resources')}}</p>
	    		<p class="tight">
	    			<div tabindex="0" class="onclick-menu button-box">
	    				<a class="button-box red4">Curriculum vit&#230; &#x25BC;</a>
    					<ul class="onclick-menu-content">
        				<li class="left"><a href="/resources/CORREAUD-Curriculum_vitae.pdf" download="CORREAUD-Curriculum_vitae.pdf" class="download button-box">{{t('common.buttons.download')}}<span></span></a></li>
        				<li class="left"><a href="/resources/CORREAUD-Curriculum_vitae.pdf" target="_blank" class="button-box external-link">{{t('common.buttons.show')}}</a></li>
					    </ul>
						</div>
	    		</p>
  			</div>
		</div>

  		<div class="four columns">
  			<div class="inner">
				<h2>
					<a class="pinned" data-icon="2">
      			<span>{{t('pages:home.footer_content.coltwo')}}</span>
    			</a>
    		</h2>
				<p>{{t('pages:home.footer_content.links')}}</p>
	    		<p class="tight">
	    			<a href="http://github.com/FlipFlopWeekly" class="button-box external-link">{{t('pages:home.footer_content.linkone')}}</a>
	    		</p>
	    		<p class="tight">
	    			<a href="http://github.com/iGitScor" class="button-box external-link">{{t('pages:home.footer_content.linktwo')}}</a>
	    		</p>
	    		<p class="tight hide hide-on-print">
	    			<a href="http://github.com/FatBoyCrew" class="button-box external-link">{{t('pages:home.footer_content.linkthree')}}</a>
	    		</p>
  			</div>
		</div>

 		<div class="four columns end">
			<div class="inner">
				<h2>
					<a class="pinned" data-icon="3">
      			<span>{{t('pages:home.footer_content.colthree')}}</span>
    			</a>
    		</h2>
    		<p>{{t('pages:home.footer_content.map')}}</p>
	    	<p class="tight">
	    		<a href="https://mapsengine.google.com/map/viewer?mid=zJbOY1XSMido.k5KGhF2HHf8Q" class="button-box external-link">Google maps</a>
	    	</p>
  		</div>
		</div>
	</div>
</div>
{% endblock %}
