<!doctype html>
<html lang="fr-FR" class="js pinned">
    <head>
      {% block init_script %}
        <!-- Document initialization script -->
      {% endblock %}
      <meta charset="utf-8">
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      
      <meta name="author" content="CORREAUD Sébastien">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@iTweetScor">
      <meta name="twitter:creator" content="@iTweetScor">
      <meta name="twitter:title" content="Sébastien Correaud | Portfolio">
      <meta name="twitter:description" content="Le portfolio de Sébastien Correaud, développeur mobile et web. Présentation de son expérience et de ses projets.">
      <meta name="twitter:image:src" content="http://sebastien-correaud.herokuapp.com/img/apple/apple-touch-icon.png">
      <meta name="twitter:image:width" content="57">
      <meta name="twitter:image:height" content="57">
      <meta name="twitter:url" content="http://sebastien-correaud.herokuapp.com/">
      <meta name="keywords" content="Sébastien, CORREAUD, informatique, Portfolio, science computer, web, mobile, developpement, AngularJS, NodeJS, PHP, Javascript">
      {% if meta_description %}
        <meta name="description" content="{{ meta_description }}">
      {% else %}
        <meta name="description" content="Portfolio de Sébastien Correaud, développeur mobile et web. Présentation de son expérience et de ses projets.">
      {% endif %}
      <meta name="robots" content="index,follow">
      <meta name="viewport" content="width=device-width, initial-scale=.95, maximum-scale=.95">
      
      <meta name="google-site-verification" content="z6uHhh4cKq8yJIjPOQBPTUaSwqB9JxQb82HnCqdo3m4">
      
      <title>S&eacute;bastien Correaud - Ing&eacute;nieur informatique Web &amp; Mobile - {{ title }}</title>
    
      {% block head_style %}
        <!-- Website style -->
        <link rel="stylesheet" href="/css/style-1.0.min.css">
        <link rel="stylesheet" href="/css/layout-1.0.min.css">
      {% endblock %}
      
      {% block prefetch_resources %}
        <!-- Prefetch resources -->
      {% endblock %}
      
      {% block prefetch_content %}
        <!-- Prefetch internal content -->
      {% endblock %}
      
      {% block prefetch_external %}
        <!-- Prefetch DNS -->
      {% endblock %}
      
      {% block head_script %}
        <script src="/js/external/jquery-2.1.0.min.js"></script>
        <script src="/js/session-1.0.min.js"></script>
        <!--[if lt IE 9]>
            <script src="/js/external/html5.js"></script>
        <![endif]-->
      {% endblock %}
      
      <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
      <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
      <link rel="apple-touch-icon" href="/img/apple/apple-touch-icon.png" />
      <link rel="apple-touch-icon" sizes="57x57" href="/img/apple/apple-touch-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="/img/apple/apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="/img/apple/apple-touch-icon-76x76.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/img/apple/apple-touch-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="/img/apple/apple-touch-icon-120x120.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="/img/apple/apple-touch-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/img/apple/apple-touch-icon-152x152.png" />
      
    </head>

    <body>
        <div id="top" class="page cookie-banner button-box red4 hide-on-print">
	        <!--<span class="twelve tri-prong-ctas">
		        <a><small>En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies pour vous proposer du contenu personnalisé.</small></a>
          </span>-->
        </div>
          
        <div>
          	<div class="transformer">
        		<header id="main-header" class="container state-open">
          			<div class="row">
          				<div id="logo">
            					<a href="/" title="Home">S&eacute;bastien Correaud</a>
            					<h1><small>S&eacute;bastien Correaud</small></h1>
            					<h6>Ing&eacute;nieur d&eacute;veloppement Web &amp; Mobile</h6>
          				</div>
    
                  {% block header_content %}{% endblock %}
                </div>
    		 
    		        <div class="row hide-on-print">
    		            <nav id="utility">
                            <ul>
                                <li>
                                    <a href="/" title="Accueil">Accueil</a>
                                </li>
                                <li>
                                    <a href="http://github.com/iGitScor" title="Ressources développement" target="_blank">Zone d&eacute;veloppement</a>
                                </li>
                                <li class="last">
                                    <a href="/mon-reseau-social" title="Mes comptes">Mon r&eacute;seau</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
      	    </div>
          </div>
          
          {% block content %}{% endblock %}
          {% block footer_content %}{% endblock %}
          
          <footer id="main-footer" class="container">
        	<div class="row hide-on-print">
         		<ul class="icons">
        			<li><a data-icon="B" href="http://www.facebook.com/sebastien.correaud" target="_blank"><span>Facebook</span></a></li>
        			<li><a data-icon="F" href="http://www.linkedin.com/pub/s%C3%A9bastien-correaud/93/783/259" target="_blank"><span>LinkedIn</span></a></li>
          		<li><a data-icon="D" href="https://twitter.com/iTweetScor" target="_blank"><span>Twitter</span></a></li>
          	</ul>
        	</div>
          	<nav class="row">
        		<div class="row">
          			<h4>
          			    <strong>&Agrave; propos de moi</strong>
          			    <span class="right hide-on-print">
          			        <a href="resources/sebastien_correaud.vcf" download="sebastien_correaud.vcf">&#8594; <small><b>T&eacute;l&eacute;charger ma Carte de visite</b></small></a>
          			    </span>
          			</h4>
          			<ul>
        				  <li>S&eacute;bastien Correaud</li>
        				  <li>T&eacute;l&eacute;phone : 06 72 79 62 91</li>
           				<li>Email : sebastien.correaud@gmail.com</li>
          			</ul>
        		</div>
         		<div class="row">
          			<h4><strong>Me suivre</strong></h4>
          			<ul>
        				<li><a href="http://github.com/iGitScor" class="external-link">Github : iGitScor</a></li>
          			</ul>
        		</div>
          	</nav>
          	<div class="row util hide-on-print">
        		<div class="six columns">
          			<p>&copy; 2014&nbsp; S&eacute;bastien Correaud.&nbsp;</p>
        		</div>
          	</div>
        </footer>
        
        {% block footer_script %}
            <!-- Site script loaded after the content -->
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
              ga('create', 'UA-43265839-1', 'auto');
              ga('send', 'pageview');
            </script>
        {% endblock %}
    
    </body>

</html>