{% extends 'layout.html' %}

{% block head_style %}
  {% parent %}
  <link rel="stylesheet" href="/css/infographie-1.0.min.css" />
  <link rel="stylesheet" href="/css/sprite.social-1.0.min.css" />
{% endblock %}

{% block header_content %}
<nav id="primary">          
	<ul class="tiny-hide">
		<li id="products">
  			<a>{{title}}</a>
		</li>
  	</ul>
</nav>
{% endblock %}


{% block content %}
    <section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-linkedin">
				<span class="social-linkedin-48-black"></span>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>LinkedIn</h2>
				<p>{{t('pages:network.pro')}}</p>
				<a href="http://www.linkedin.com/pub/s%C3%A9bastien-correaud/93/783/259" class="cd-read-more" target="_blank">{{t('pages:network.profil')}}</a>
				<span class="cd-date">Sébastien Correaud</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-viadeo">
				<span class="social-viadeo-48-black"></span>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Viadeo</h2>
				<p>{{t('pages:network.pro')}}</p>
				<a href="http://www.viadeo.com/profile/0022ez7mqob40b91" class="cd-read-more" target="_blank">{{t('pages:network.profil')}}</a>
				<span class="cd-date">Sébastien Correaud</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-facebook">
				<span class="social-facebook-48-black"></span>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Facebook</h2>
				<p>{{t('pages:network.contact')}}</p>
				<a href="http://www.facebook.com/sebastien.correaud" class="cd-read-more" target="_blank">{{t('pages:network.profil')}}</a>
				<span class="cd-date">Sébastien Correaud</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-twitter">
				<span class="social-twitter-48-black"></span>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Twitter</h2>
				<p>{{t('pages:network.rss')}}</p>
				<a href="http://www.twitter.com/iTweetScor" class="cd-read-more" target="_blank">{{t('pages:network.profil')}}</a>
				<span class="cd-date">@iTweetScor</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-instagram">
				<span class="social-instagram-48-black"></span>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Instagram</h2>
				<p>{{t('pages:network.insta')}}</p>
				<a href="http://www.instagram.com/iNstaScor" class="cd-read-more" target="_blank">{{t('pages:network.photos')}}</a>
				<span class="cd-date">iNstaScor</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
{% endblock %}
