.owl-carousel {
    border-left: 1px dotted lightgray;
    border-right: 1px dotted lightgray;
}

.owl-prev, .owl-next {
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    bottom: 0;
}

.owl-prev {
    left: 5px;
    bottom: 5px;
}

.owl-next {
    right: 5px;
    bottom: 5px;
}

.owl-item {
    border-top: 1px dotted lightgray;
    border-bottom: 1px solid lightgray;
    vertical-align: middle;
    text-align: center;
}

.owl-item img {
    -webkit-filter: saturate(50%);
    -moz-filter: saturate(50%);
    -o-filter: saturate(50%);
    -ms-filter: saturate(50%);
    filter: saturate(50%);
    padding-bottom: 0!important;
    
    z-index: 10;
    position: relative;
}

.owl-item img:hover {
    z-index:11;
    
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
    -webkit-transition: transform 0.2s ease;
    -moz-transition:    transform 0.2s ease;
    -o-transition:      transform 0.2s ease;
    -ms-transition:     transform 0.2s ease;
    transition:         transform 0.2s ease;
}

.owl-item span {
    position: absolute;
    bottom: -2px;
    z-index: 12;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    left: 0;
    padding: 10px 0 10px 0;
    border-top: 2px dotted lightgray;
    border-bottom: 2px solid lightgray;
}