.badge {
 	  width: 100px;
 	  height: 100px;
 	  background-color: #E4E4E4;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 4px 0 #E0E0E0;
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.portion {
	  height: 100%;
	  float: left;
}

.badge-lightcoral {
	  background-color: lightcoral;
}

.badge-lightskyblue {
	  background-color: lightskyblue;
}

.badge-lightsteelblue {
	  background-color: lightsteelblue;
}

.badge-1fifth {
	  width: 20%;
}

.badge-2fifth {
	  width: 40%;
}

.badge-3fifth {
	  width: 60%;
}

.badge-4fifth {
	  width: 80%;
}

.badge-1quarter {
	  width: 25%;
}

.badge-3quarter {
	  width: 75%;
}

.badge-1third {
	  width: 33.333333333%;
}

.badge-2third {
	  width: 66.666666666%;
}

.badge-1half {
	  width: 50%;
}
 
.badge .badge-content {
	  position: absolute;
    text-align: center;
    width: 100%;
    line-height: 20px;
    top: 50%;
    margin-top: -10px;
    font-weight: bold;
    vertical-align: middle;
    color: #555;
    height: 20px;
} 

/*************************************
	Date badge
**************************************/
time.icon {
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #97233f;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #EEE;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #97233f;
}

time.icon span {
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 1.2em;
    color: #2f2f2f;
}

/********************************/
.url-link {
    background: url('images/site/url_link.png') no-repeat;
    background-size: 34px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-top: 3px;
}

.external-link:after { 
    content: " ➚";
}

/********************************/
.notice{
    border:1px solid #015172;
    background:#2ba6cb;
    padding:10px 20px 10px 40px;
    margin:10px 0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color:white;
    line-height:120%;
    vertical-align: middle;
    text-shadow:0px 1px rgba(0,0,0,0.5);
    position:relative;
    top:0;
    left:0;
    clear:both;
}

.notice .notice_close_button {
    color: lightskyblue;
    font-weight: bold;
}