/*************************************
	Common elements
**************************************/

body .page form .submit-red {
    background-color: darkred;
    color: white;
    padding: 10px;
    width: auto;
    height: auto;
    float: right;
    cursor: pointer;
}

body div p.error {
    border: 1px solid #ebccd1;
    border-radius: 4px;
    background-color: #f2dede;
    color: #a94442;
    padding: 15px;
}


body .page code img {
	padding-bottom: 0;
}

body form label {
    height: 30px;
    line-height: 30px;
}

body form input {
    height: 30px;
}

body form button[type=submit] {
    min-width:150px;
    height:30px;
    margin:0 5px 20px 0;
    padding:0 10px;
    background:#97233f;
    font-family:"Museo Sans W01 500",arial,sans-serif;
    font-weight:500;
    font-size:11pt;
    line-height:30px;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    float: right;
}

/*************************************
	Header elements
**************************************/
 #logo {
 	-webkit-filter: grayscale(20%) sepia(30%);
 }
 
 #logo a {
  	margin-left: 12px;
}

#logo h6 {
    padding-top: 5px;
    text-transform: uppercase;
}

#main-header {
    border-bottom: 1px dotted;
}

/*************************************
	Print page
**************************************/
@media print {
    .print-clear {
        page-break-after: always;
    }
}