.page svg{height:100px;width:100px;}
.page .svg-container{margin-top:25px;text-align:center;}
.page svg text{cursor:default;font-weight:bold;font-size:27.5px;}
.page .custom-feature{padding:0;}
.page .custom-feature img{max-width:150px;max-height:150px;}
.page .custom-feature img.talent-icon-big{height:150px;width:150px;margin-top:-10px;}
.presentation-image{max-height:150px;margin-top:10px;}
.presentation-title{font-weight:bolder;}
.presentation-title.communicate{color:#f1c40f;}
.presentation-title.manage{color:#3498db;}
.presentation-title.dare{color:#e74c3c;}
.presentation-title.adapt{color:#27ae60;}
.presentation-title.excel{color:#9b59b6;}
.talent-icon{max-height:64px;max-width:64px;}