{% extends '../layout.html' %}

{% block header_content %}
<nav id="primary">          
	<ul class="tiny-hide">
		<li class="topnav here">
  			<a href="#">{{ subTitle }}</a>
		</li>
  	</ul>
</nav>
{% endblock %}

{% block content %}
<div class="container page no-fix">
    <article>
        <div class="row">
            <div class="two left">
                <img src="/img/error/{{errorCode}}.png" />
            </div>
            <div class="ten left">
                <h2>{{t('error.page.message')}}</h2>
        	    <h3>{{error|raw}}</h3>
        	    {% if error.stack %}
        	        <code>
        	            {{error.stack}}
        	        </code>
        	    {% endif %}
        	    <ul class="checks">
    <!--    	        <li>
        	            Contactez-moi
        	        </li>-->
        	        <li class="check">
        	            {{t('error.page.backhome.text')}} : <a href="/{{t('technical.lang')}}/">{{t('error.page.backhome.here')}}</a>
        	        </li>
        	    </ul>
            </div>
        </div>
    </article>
</div>
{% endblock %}