{% extends '../layout.html' %}

{% block header_content %}
<nav id="primary">          
	<ul class="tiny-hide">
		<li id="products" class="topnav here">
  			<a>Js13k - Game</a>
		</li>
  	</ul>
</nav>
{% endblock %}

{% block head_style %}
    {% parent %}
    <link rel="stylesheet" href="/css/13k.css">
{% endblock %}

{% block prefetch_external %}
    <link rel="dns-prefetch" href="//js13kgames.com">
{% endblock %}

{% block content %}
<div class="container page">
	<article>
	    <div class="row" id="presentation" >
          	<div class="divider twelve columns end">
        		<p>Pr&eacute;sentation</p>
          	</div>
          	
          	<div class="one columns end">
        		<img src="/img/projets/github_fbc_logo.png" alt="Fat Boy Crew Logo"/>
          	</div>
          	
          	<div class="eleven columns end">
        		<blockquote>Js13kGames is a JavaScript coding competition for HTML5 game developers. The fun part of the compo is the file size limit set to 13 kilobytes.</blockquote>
        		<p>
                    <a href="http://js13kgames.com" title="Site du concours" class="url-link external-link">js13kgames.com : Site du concours</a> 
        		</p>
          	</div>
        </div>

	    <div class="row" id="conception-dev">
	        <div class="divider twelve columns end">
        		<p>R&eacute;alisation</p>
          	</div>
          	<canvas id="board"></canvas>
	    </div>
	</article>
</div>
{% endblock %}

{% block footer_script %}
    <script type="text/javascript" src="/js/13k.js"></script>
{% endblock %}