{% extends '../layout.html' %}

{% block content %}
<div class="container page">
	<article>
		<div class="row">
            <div class="twelve columns end">
    			<nav id="primary">
    				<ul class="pull-left">
    					<li>
    			  			<a>{{ title }} - Improve your mind !</a>
    					</li>
    			  	</ul>
    			  	<span class="pull-right">
						<a class="button-box blue" href="/js13k"><i class="fa fa-angle-left"></i> JS13k</a>
	    				<a class="button-box blue" href="/zori">Zori <i class="fa fa-angle-right"></i></a>
        			</span>
    			</nav>
        	</div>
    	</div>
    	<div class="row" id="presentation" >
          	<div class="divider twelve columns end">
        		<p>Pr&eacute;sentation</p>
          	</div>

          	<div class="one columns end">
        		<img src="/img/projets/github_ff_logo.png" alt="Flip Flop Logo"/>
          	</div>

          	<div class="eleven columns end">
        		<p>"Real-time culture sharer using Firebase as its backend and AngularJS on the frontend."</p>
          	</div>

          	<div class="twelve columns">
                <div class="section-divider">
  			        <h4>Equipe</h4>
		        </div>

                <p>Nous sommes une &eacute;quipe de trois d&eacute;veloppeurs sp&eacute;cialis&eacute;s dans le d&eacute;veloppement Web.</p>
                <ul>
                    <li>Thibaud Colas (ThibWeb) : <a href="https://github.com/ThibWeb" class="external-link" target="_blank">GITHUB</a> | <a href="http://thib.me" class="external-link" target="_blank">Website</a></li>
                    <li>Laurent Verg&eacute; (MonsieurLuge) : <a href="https://github.com/MonsieurLuge" class="external-link" target="_blank">GITHUB</a></li>
                    <li>S&eacute;bastien Correaud (moi-m&ecirc;me - iGitScor) : <a href="https://github.com/iGitScor" class="external-link" target="_blank">GITHUB</a></li>
                </ul>
          	</div>

          	 <div class="twelve columns">
                <div class="section-divider">
  			        <h4>Projet</h4>
		        </div>

                <p>Knov est un projet d'appréhension des technologies AngularJS et Firebase.</p>
          	</div>
        </div>

	    <div class="row" id="conception-graphique">
	        <div class="divider twelve columns end">
        		<p>Conception graphique</p>
          	</div>
            <div class="three columns end">
	            <img src="/img/projets/knov_home_capture.png"/>
            </div>
	    </div>

	    <div class="row" id="conception-dev">
	        <div class="divider twelve columns end">
        		<p>R&eacute;alisation du projet</p>
          	</div>
            <div class="eleven columns end">
	            {% include 'knov/readme.html' %}
            </div>
	    </div>
	</article>
</div>
{% endblock %}


{% block footer_content %}
{% endblock %}
