<div class="row pinned-nav tiny-hide hide-on-print">
  	<div class="twelve columns">
  		<nav> 
			<ul>
				<li>
					<a class="pinned" data-icon="u" href="#{{t('homepage.navigation.presentation.anchor')}}">
						<span>{{t('homepage.navigation.presentation.text')}}</span>
					</a>
				</li>
				{% if t('technical.lang') == 'fr' %}
  				<li>
					<a class="pinned" data-icon="i" href="#{{t('homepage.navigation.pro.anchor')}}">
  						<span>{{t('homepage.navigation.pro.text')}}</span>
					</a>
  				</li>
  				{% endif %}
   				<li>
					<a class="pinned" data-icon="w" href="#{{t('homepage.navigation.study.anchor')}}">
  						<span>{{t('homepage.navigation.study.text')}}</span>
					</a>
  				</li>
  				<li>
					<a class="pinned" data-icon="P" href="#{{t('homepage.navigation.realisations.anchor')}}">
  						<span>{{t('homepage.navigation.realisations.text')}}</span>
					</a>
  				</li>
  				<li>
					<a class="pinned" data-icon="Z" href="#{{t('homepage.navigation.competences.anchor')}}">
  						<span>{{t('homepage.navigation.competences.text')}}</span>
					</a>
  				</li>
  				 <li>
					<a class="pinned" data-icon="X" href="#{{t('homepage.navigation.hobbies.anchor')}}">
  						<span>{{t('homepage.navigation.hobbies.text')}}</span>
					</a>
  				</li>
  				<li class="right back-to-top">
  					<a class="pinned" data-icon="t" href="#top">
  						<span></span>
  					</a>
  				</li>
			</ul>
  		</nav>
  	</div>
</div>