<div class="row pinned-nav tiny-hide hide-on-print">
  	<div class="twelve columns">
  		<nav> 
			<ul>
				<li>
					<a class="pinned" data-icon="u" href="#presentation">
						<span>Pr&eacute;sentation</span>
					</a>
				</li>
  				<li>
					<a class="pinned" data-icon="i" href="#parcours-professionnel">
  						<span>Carri&egrave;re</span>
					</a>
  				</li>
   				<li>
					<a class="pinned" data-icon="w" href="#etudes">
  						<span>&Eacute;tudes</span>
					</a>
  				</li>
  				<li>
					<a class="pinned" data-icon="P" href="#realisations">
  						<span>R&eacute;alisations</span>
					</a>
  				</li>	
  				<li>
					<a class="pinned" data-icon="Z" href="#competences">
  						<span>Comp&eacute;tences</span>
					</a>
  				</li>
  				 <li>
					<a class="pinned" data-icon="X" href="#hobbies">
  						<span>Hobbies</span>
					</a>
  				</li>
  				<li class="right back-to-top">
  					<a class="pinned" data-icon="t" href="#top">
  						<span></span>
  					</a>
  				</li>
			</ul>
  		</nav>
  	</div>
</div>