<div class="row" id="{{t('homepage.navigation.competences.anchor')}}">
	<div class="divider twelve columns end">
		<p>{{t('homepage.navigation.competences.title')}}</p>
  	</div>

	{% if query.cv !== 'print' %}
	<div class="twelve columns end hide-on-print">
		<p class="left">{{t('cv:skills.presentation')}}
		<br /><small>1 : {{t('cv:skills.notes.one')}}, 2 : {{t('cv:skills.notes.two')}}, 3 : {{t('cv:skills.notes.three')}}, 4 : {{t('cv:skills.notes.four')}}</small></p>
		
		<div class="badge-lightcoral columns right">
			<span class="hint hint--left hint--always hint--info" data-hint="{{t('cv:skills.degree.low')}}">&nbsp;&nbsp;-</span>
		</div>
		<br />
		<br />
		<br />
		<div class="badge-lightsteelblue columns right">
			<span class="hint hint--left hint--always hint--info" data-hint="{{t('cv:skills.degree.secondary')}}">&nbsp;&nbsp;-</span>
		</div> 
		<br />
		<br />
		<br />
		<div class="badge-lightskyblue columns right">
			<span class="hint hint--left hint--always hint--info" data-hint="{{t('cv:skills.degree.primary')}}">&nbsp;&nbsp;-</span>
		</div>
	</div>

	<div class="twelve columns end">
		<div class="show-mobile clearfix"></div>
		<br class="show-mobile" />
		<h4 class="hide-on-print">{{t('cv:skills.technical.title')}}</h4>
	</div>

	<div class="twelve columns end">
		<h5>Web</h5>
		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightskyblue badge-4fifth"></div>
				<p class="badge-content">HTML<br /><em>(5 {{t('cv:skills.years')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 4
		</div>
		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightskyblue badge-4fifth"></div>
				<p class="badge-content">CSS<br /><em>(5 {{t('cv:skills.years')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 4
		</div>
		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightskyblue badge-3quarter"></div>
				<p class="badge-content">PHP 5<br /><em>(4 {{t('cv:skills.years')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 4
		</div>
		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightskyblue badge-3fifth"></div>
				<p class="badge-content">jQuery<br /><em>(4 {{t('cv:skills.years')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 3
		</div>
		
		<div class="clear"></div>
		<br />
		
		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightsteelblue badge-1fifth"></div>
				<p class="badge-content">NodeJS<br /><em>(8 {{t('cv:skills.months')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 2
		</div>
	</div>

	<div class="clear"></div>
	<hr />
	<div class="clear"></div>

	<div class="twelve columns end">
		<h5>Mobile</h5>

		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightskyblue badge-4fifth"></div>
				<p class="badge-content">iOS<br /><em>(4 {{t('cv:skills.years')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 3
		</div>
		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightsteelblue badge-1half"></div>
				<p class="badge-content">Android<br /><em>(4 {{t('cv:skills.years')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 2
		</div>
		<div class="three columns end">
			<div class="badge">
				<div class="portion badge-lightcoral badge-1third"></div>
				<p class="badge-content">HTML5<br /><em>(2 {{t('cv:skills.years')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 3
		</div>
	</div>
	
	<div class="clear"></div>
	<hr />
	<div class="clear"></div>

	<div class="twelve columns end">
		<h5>Framework</h5>

		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightskyblue badge-4fifth"></div>
				<p class="badge-content">eZPublish<br /><em>(4 {{t('cv:skills.years')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 3
		</div>

		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightskyblue badge-1half"></div>
				<p class="badge-content">Symfony<br /><em>(1 {{t('cv:skills.year')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 2
		</div>
		
		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightskyblue badge-3quarter"></div>
				<p class="badge-content">Angular JS<br /><em>(10 {{t('cv:skills.months')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 2
		</div>
		
		<div class="three columns">
			<div class="badge">
				<div class="portion badge-lightsteelblue badge-2fifth"></div>
				<p class="badge-content">Express JS<br /><em>(8 {{t('cv:skills.months')}})</em></p>
			</div>
			<br />{{t('cv:skills.skill')}} : 1
		</div>
	</div>
	{% else %}
	
	<ul class="bulletless">
		<li>Web</li>
		<li>
			<ul>
				<li>HTML, CSS : 5 {{t('cv:skills.years')}}</li>
				<li>PHP5, jQuery : 4 {{t('cv:skills.years')}}</li>
				<li>NodeJS : 6 {{t('cv:skills.months')}}</li>
			</ul>
		</li>
		<li>Mobile</li>
		<li>
			<ul>
				<li>iOS, Android : 4 {{t('cv:skills.years')}}</li>
				<li>HTML5 : 2 {{t('cv:skills.years')}}</li>
			</ul>
		</li>
		<li>Framework</li>
		<li>
			<ul>
				<li>eZPublish : 4 {{t('cv:skills.years')}}</li>
				<li>Symfony2 : 2 {{t('cv:skills.years')}}</li>
				<li>AngularJS : 8 {{t('cv:skills.months')}}</li>
				<li>ExpressJS : 6 {{t('cv:skills.months')}}</li>
			</ul>
		</li>
	</ul>
	
	{% endif %}
</div>