<div class="row" id="{{t('homepage.navigation.study.anchor')}}" >
  	<div class="divider twelve columns">
		<p>{{t('homepage.navigation.study.title')}}</p>
	</div>

	<div class="twelve columns end">
		<p>{{t('cv:study.intro')}}</p>
		<ul>
			<li>2011 <strong>{{t('cv:study.lp.name')}}</strong> {{t('cv:study.lp.subname')}} {{t('cv:study.lp.place')}}</li>
			<li>2010 <strong>{{t('cv:study.dut.name')}}</strong> {{t('cv:study.dut.place')}}</li>
			<li>2008 <strong>{{t('cv:study.bac.name')}}</strong> {{t('cv:study.bac.subname')}} – <strong>{{t('cv:study.bac.mention')}}</strong> – {{t('cv:study.bac.place')}}</li>
		</ul>
	</div>
</div>