<div class="row" id="etudes" >
  	<div class="divider twelve columns">
		<p>&Eacute;tudes</p>
	</div>

	<div class="twelve columns end">
		<p>Suite &agrave; mon bac, j'ai opt&eacute; pour des &eacute;tudes dans le domaine de l'informatique</p>
		<ul>
			<li>2011 <strong>Licence professionnelle</strong> (e-business) &agrave; l'IUT de Montpellier   </li>
			<li>2010 <strong>DUT informatique</strong> &agrave; l'IUT de Montpellier</li>
			<li>2008 <strong>Baccalaur&eacute;at Scientifique</strong> (Science de l’ing&eacute;nieur) – <strong>mention Bien</strong> – au lyc&eacute;e de la Plaine de l'Ain &agrave; Amb&eacute;rieu en Bugey</li>
		</ul>
	</div>
</div>