<div class="row" id="{{t('homepage.navigation.hobbies.anchor')}}">
	<div class="divider twelve columns end">
		<p>{{t('homepage.navigation.hobbies.title')}}</p>
	</div>

	{% if query.cv !== 'print' %}
	<div class="three columns caption end hide-on-print hide-mobile">
		<figure class="figure-with-caption">
			<img alt="Travel map" src="/img/content/visuel_hobbies_travel_map.png" />
			<figcaption><a href="https://mapsengine.google.com/map/viewer?mid=zJbOY1XSMido.k5KGhF2HHf8Q"><strong>&#8677;&nbsp;</strong>&nbsp;{{t('cv:hobbies.travel.google')}}</a>
			</figcaption>
		</figure>
	</div>
	
	<div class="nine columns end">
		<div class="twelve columns end">
			<h3>{{t('cv:hobbies.travel.title')}}</h3>
			<span class="show-mobile">
				<a href="https://mapsengine.google.com/map/viewer?mid=zJbOY1XSMido.k5KGhF2HHf8Q"><strong>&#8677;&nbsp;</strong>&nbsp;{{t('cv:hobbies.travel.google')}}</a>
			</span>

			<div class="section-divider">
				<h4>{{t('cv:hobbies.travel.europe.name')}}</h4>
			</div>
			<code><u>{{t('cv:hobbies.travel.europe.one.title')}}</u>&nbsp;|&nbsp; <div class="clearfix clear show-mobile"></div>
				<span class="flags-dk"></span>
				<span class="flags-cz"></span>
				<span class="flags-hr"></span>
				<span class="flags-si"></span>
				<span class="flags-rs"></span>
				<span class="flags-it"></span>
			</code>
			<p>{{t('cv:hobbies.travel.europe.one.presentation')}}</p>
			<div class="clear"></div>

			<code><u>{{t('cv:hobbies.travel.europe.two.title')}}</u>&nbsp;|&nbsp; <div class="clearfix clear show-mobile"></div>
				<span class="flags-is"></span>
			</code>
			<p>{{t('cv:hobbies.travel.europe.two.presentation')}}</p>
			<div class="clear"></div>

			<code><u>{{t('cv:hobbies.travel.europe.three.title')}}</u>&nbsp;|&nbsp; <div class="clearfix clear show-mobile"></div>
				<span class="flags-cat"></span>
				<span class="flags-fr"></span>
			</code>
			<p>{{t('cv:hobbies.travel.europe.three.presentation')}}</p>
			<div class="clear"></div>


			<div class="section-divider">
				<h4>{{t('cv:hobbies.travel.america.name')}}</h4>
			</div>
			<code><u>{{t('cv:hobbies.travel.america.one.title')}}</u>&nbsp;|&nbsp; <div class="clearfix clear show-mobile"></div>
				<span class="flags-us"></span>
				<span class="flags-gb"></span>
			</code>
			<p>{{t('cv:hobbies.travel.america.one.presentation')}}</p>
		</div>
	</div>
	
	{% else %}
	
	<div class="nine columns end">
		<ul>
			<li>Voyages</li>
			<li>Sport</li>
			<li>Art</li>
		</ul>
	</div>
	
	{% endif %}
</div>