<div class="row" id="hobbies">
	<div class="divider twelve columns end">
		<p>Hobbies</p>
	</div>

	<div class="three columns caption end hide-on-print">
		<figure>
			<img alt="Travel map" src="/img/content/visuel_hobbies_travel_map.png" />
			<figcaption><a href="https://mapsengine.google.com/map/viewer?mid=zJbOY1XSMido.k5KGhF2HHf8Q"><strong>&#8677;&nbsp;</strong>&nbsp;Ma Google maps</a>
			</figcaption>
		</figure>
	</div>

	<div class="nine columns end">
		<div class="twelve columns end">
			<h3>Voyages</h3>

			<div class="section-divider">
				<h4>Europe</h4>
			</div>
			<code><u>Voyage en train : euro trip</u>&nbsp;|&nbsp; <div class="clearfix clear show-mobile"></div>
				<img src="/img/flags/dk.png" alt="denmark" title="Danemark" width="16px" height="11px" />
				<img src="/img/flags/cz.png" alt="czech republic" title="R&eacute;publique tch&egrave;que" width="16px" height="11px" />
				<img src="/img/flags/hr.png" alt="croatia" title="Croatie" width="16px" height="11px" />
				<img src="/img/flags/si.png" alt="slovenia" title="Slov&eacute;nie" width="16px" height="11px" />
				<img src="/img/flags/rs.png" alt="serbia" title="Serbie" width="16px" height="11px" />
				<img src="/img/flags/it.png" alt="italy" title="Italie" width="16px" height="11px" />
			</code>
			<p>Mon voyage en Europe est un voyage en train qui aura dur&eacute; 16 jours et m'aura conduit dans 6 pays diff&eacute;rents, aux cultures diverses et d&eacute;paysantes par rapport &agrave; celle que j'ai l'habitude de cotoyer en France.
			</p>
			<div class="clear"></div>

			<code><u>Voyage en avion : Islande</u>&nbsp;|&nbsp; <div class="clearfix clear show-mobile"></div>
				<img src="/img/flags/is.png" alt="iceland" title="Islande" width="16px" height="11px" />
			</code>
			<p>Volcan, glacier, geyser et autres aurores bor&eacute;ales, visite du pays europ&eacute;en le plus &agrave; l'Ouest et l'un des plus m&eacute;connus des français.</p>
			<div class="clear"></div>

			<code><u>Voyage en train : les grandes villes d'Europe</u>&nbsp;|&nbsp; <div class="clearfix clear show-mobile"></div>
				<img src="/img/flags/cat.png" alt="catalunya" title="Catalogne" width="16px" height="11px" />
				<img src="/img/flags/fr.png" alt="france" title="France" width="16px" height="11px" />
			</code>
			<p>De nature &agrave; appr&eacute;cier les grandes villes, il &eacute;tait tout &agrave; fait logique que je m'aventure dans la visite de grandes villes, &agrave; commencer sur le continent europ&eacute;en.
				<br />Barcelone et Paris sont les deux &eacute;tapes de ce p&eacute;riple qui en comptera d'autres.
			</p>
			<div class="clear"></div>


			<div class="section-divider">
				<h4>Am&eacute;rique</h4>
			</div>
			<code><u>Voyage en avion : direction L.A.</u>&nbsp;|&nbsp; <div class="clearfix clear show-mobile"></div>
				<img src="/img/flags/us.png" alt="united states" title="United States" width="16px" height="11px" />
				<img src="/img/flags/gb.png" alt="united kingdom" title="United Kingdom" width="16px" height="11px" />
			</code>
			<p>Voyage en Californie avec escale londonienne &agrave; l'aller et au retour. Visite de Londres, Los Angeles et San Francisco pour cette premi&egrave;re immersion dans des pays anglophones.</p>
		</div>
	</div>
</div>