<div class="row" id="presentation" >
  	<div class="divider twelve columns end">
		<p>Pr&eacute;sentation</p>
  	</div>
  	
  	<div class="three columns end">
		<img alt="Presentation" src="/img/content/visuel_presentation.png" class="presentation-image"/>
  	</div>

  	<div class="nine columns">
		<p itemscope itemtype="http://data-vocabulary.org/Person">
		Je m'appelle <span itemprop="name">S&eacute;bastien Correaud</span> et je suis <span itemprop="title">ing&eacute;nieur</span> d&eacute;veloppement &agrave; <span itemprop="location">Montpellier</span> dans les domaines du Web.
		J'ai int&eacute;gr&eacute; l'&eacute;quipe de la WebFactory de la soci&eacute;t&eacute; Logica (devenue <span class="org">CGI</span>) pour des missions d'analyse et de d&eacute;veloppement au sein de divers projets Web, sur un socle technologique PHP (eZ Publish, Drupal, Symfony).<br />
		Par la suite j'ai contribu&eacute; &agrave; la naissance et l'&eacute;volution d'un p&ocirc;le Mobilit&eacute; (iOS, HTML5 Cross-Platform, Android)<br />
	    Je participe &eacute;galement &agrave; l'&eacute;volution du p&ocirc;le d&eacute;veloppement Web en r&eacute;alisant des missions diverses allant de formation de profils juniors &agrave; audit technique en passant par veille technologique.
		</p>
		
		<div class="section-divider hide-on-print">
  			<h4>Moi</h4>
		</div>
		
		<p class="hide-on-print">Les 5 grands champs de la personnalit&eacute; sont les suivants :</p>
		<div class="big-box hide-on-print">
			<h4 class="presentation-title communicate secondary">
				Communiquer <br /><br />
				<img class="talent-icon" src="/img/talent/communicate.png" />
			</h4>
			<p class="primary">&Ecirc;tre en lien avec autrui, transmettre quelque chose &agrave; quelqu'un, en g&eacute;n&eacute;ral par le langage (&eacute;crit ou oral).</p>
        		<div class="clear"></div>

        		<h4 class="presentation-title manage secondary">
        			Manager <br /><br />
        			<img class="talent-icon" src="/img/talent/manage.png" />		
        		</h4>
        		<p class="primary">Organiser, g&eacute;rer quelque chose ou quelqu'un.</p>
        		<div class="clear"></div>

		        <h4 class="presentation-title dare secondary">
		        	Oser <br /><br />
		        	<img class="talent-icon" src="/img/talent/dare.png" />
		        </h4>
		        <p class="primary">Avoir le courage, l'audace, la hardiesse de faire quelque chose.</p>
		        <div class="clear"></div>

		        <h4 class="presentation-title adapt secondary">
		        	S'adapter <br /><br />
		        	<img class="talent-icon" src="/img/talent/adapt.png" />
		        </h4>
		        <p class="primary">Modifier son attitude, sa pens&eacute;e, son comportement pour le mettre en accord avec une situation nouvelle, s'ajuster.</p>
		        <div class="clear"></div>

		        <h4 class="presentation-title excel secondary">
		        	Se d&eacute;passer <br /><br />
		        	<img class="talent-icon" src="/img/talent/excel.png" />
		        </h4>
		        <p class="primary">Capacit&eacute; &agrave; aller au-del&agrave; d'un rep&egrave;re fix&eacute;, r&eacute;aliser une performance sup&eacute;rieure &agrave; celles produites auparavant.</p>
				<div class="clear"></div>
			
        		<a href="/ma-personnalite" class="button-box" title="Ma personnalit&eacute;">D&eacute;tail de ma personnalit&eacute;</a>
		</div>
		<div class="section-divider hide-on-print">
  			<h4>Mon projet</h4>
		</div>
		
		<h4 class="hide-on-print">Informatique</h4>
		<p>
		    Dans le milieu des <strong>nouvelles technologies</strong> depuis 4 ans, je souhaite poursuivre dans ce secteur et profiter de mon exp&eacute;rience Web dans l'encadrement pour viser une carri&egrave;re d'expert technique dans le monde du Web.<br />
		    Principalement int&eacute;ress&eacute; par une &eacute;volution via une exp&eacute;rience de d&eacute;veloppeur Front-end Javascript (full stack Node.JS, AngularJS, Express), je souhaite progresser par &eacute;tape afin d'atteindre mon objectif.
		</p>
  	</div>
  	<div class="print-clear">&nbsp;</div>
</div>