<div class="row" id="presentation" >
  	<div class="divider twelve columns end">
		<p>Pr&eacute;sentation</p>
  	</div>
  	
  	<div class="three columns end">
		<img alt="Zori" src="img/presentation.png"/>
  	</div>

  	<div class="nine columns">
		<p>Je suis ing&eacute;nieur web dans les domaines du Web.
		J'ai int&eacute;gr&eacute; l'&eacute;quipe de la WebFactory de la soci&eacute;t&eacute; Logica (devenue CGI) pour des missions d'analyse et de d&eacute;veloppement au sein de divers projets Web, sur un socle technologique PHP (eZ Publish, Drupal, Symfony).
		Par la suite j'ai contribu&eacute; &agrave; la naissance et l'&eacute;volution d'un p&ocirc;le Mobilit&eacute; (iOS, HTML5 Cross-Platform, Android)
		</p>

		<div class="section-divider">
  			<h4>Projet</h4>
		</div>
		
		<h4>Informatique</h4>
		<p>Dans le milieu <strong>mobile</strong> depuis 4 ans, je souhaite poursuivre dans ce secteur et profiter de mon exp&eacute;rience Web dans l'encadrement pour viser une carrière d'expert technique en solution mobiles.
		</p>
  	</div>
</div>