<div class="row" id="parcours-professionnel">
  	<div class="divider twelve columns end">
		<p>Parcours professionnel</p>
  	</div>

  	<div class="nine columns">
		<h4>CGI : 2011 - en cours</h4>
  	</div>

  	<div class="nine columns">
		<p>J'ai rejoint l'agence CGI (ex Logica) de Montpellier en 2011. J'ai int&eacute;gr&eacute; la Web Factory, pour des missions d’analyse et de d&eacute;veloppement au sein de divers projets Web, sur un socle technologique PHP (eZ Publish, Drupal, Symfony) et Mobilit&eacute; (iOS, HTML5, Android).
		</p>
		<p>En parall&egrave;le au d&eacute;veloppement je me suis orient&eacute; vers un poste plus technique, j'ai donc &eacute;t&eacute; amen&eacute; &agrave; r&eacute;aliser :</p>
			<ul>
				<li>Audits techniques PHP (eZPublish, CodeIgniter, Symfony)</li>
				<li>&Eacute;tudes comparatives de solutions techniques (Symfony, Zend)</li>
				<li>&Eacute;tude d'architecture technique de Syst&egrave;me d'information</li>
			</ul>
		<p>Voici la liste des projets que j'ai &eacute;t&eacute; amen&eacute; &agrave; faire :
		</p>
		<ul>
			<li>
				<p>
					<a href="#">PROJET CONFIDENTIEL, SANOFI</a> : Expert en solutions mobiles
					<time datetime="2014-09-20" class="icon right">
  						<em>2 ans</em>
  						<strong>2012 / 2014</strong>
  						<span>iOS</span>
					</time>
					<br />
					<legend>&gt; Mission au forfait à CGI Montpellier</legend>
				</p>
				<a class="button-box blue" href="#competences"><u>Mobile</u> : iOS5, iOS6, iOS7</a>
				<p>R&eacute;alisation d'une application mod&egrave;le destin&eacute;e au suivi de patients pour une &eacute;tude clinique.
				</p>
			</li>
			<hr/>
			<li>
				<p>
					<a href="#">MOBOX, VOLVO</a> : D&eacute;veloppeur / Support technique en solutions mobiles <span class="location">(Lyon)</span>
					<time datetime="2014-09-20" class="icon right">
  						<em>3 mois</em>
  						<strong>2012</strong>
  						<span>iOS</span>
					</time>
				</p>
				<a class="button-box blue" href="#competences"><u>Mobile</u> : iOS5, SOAP Webservices, Formation</a>
				<p>R&eacute;alisation d'une application d&eacute;di&eacute;e aux professionnels de la route du groupe Volvo (road tool box)  ainsi qu'aux commerciaux (CRM)</p>
			</li>
			<hr/>
			<li>
				<p>
					<a href="#">DOLCE VITA, GDF SUEZ</a> : Lead d&eacute;veloppeur Web - Studio digital <span class="location">(Paris)</span>
					<time datetime="2014-07-16" class="icon right">
  						<em>3 mois</em>
  						<strong>2014</strong>
  						<span>AEM</span>
					</time>
				</p>
				<a class="button-box blue" href="#competences"><u>Web</u> : AEM, Javascript, Relation m&eacute;tier</a>
				<ul>
					<li>Recueil du besoin m&eacute;tier</li>
					<li>Evolution du site client Dolce Vita</li>
					<li>Maintenance du parc applicatif GDF</li>
				</ul>
			</li>
			<hr/>
			<li>
				<p>
					<a href="#">AECF, GROUPE AUCHAN</a> : Expert technique PHP <span class="location">(Lille)</span>
					<time datetime="2014-09-20" class="icon right">
  						<em>2 mois</em>
  						<strong>2013</strong>
  						<span>PHP</span>
					</time>
				</p>
				<a class="button-box blue" href="#competences"><u>Web</u> : PHP, Symfony, Zend, Avant-vente</a>
				<ul>
					<li>Audit applicatif et d'architecture d'un framework (d&eacute;velopp&eacute; from scratch)</li>
					<li>&Eacute;tude technique comparative de framework (Symfony, Zend et le framework auchan)</li>
					<li>R&eacute;alisation de l'avant vente</li>
				</ul>
			</li>
			<hr/>
			<li>
				<p>
					<a href="#">PORTAIL LOCAL BUSINESS, MAPPY</a> : Lead d&eacute;veloppeur Symfony 2
					<time datetime="2014-09-20" class="icon right">
  						<em>4 mois</em>
  						<strong>2013</strong>
  						<span>PHP</span>
					</time>
				</p>
				<a class="button-box blue" href="#competences"><u>Web</u> : PHP, Symfony, Scrum</a>
				<ul>
					<li>Cr&eacute;ation d'un portail annonceur pour la gestion m&eacute;tier de Mappy bas&eacute; sur le framework Symfony 2</li>
					<li>Projet en mode agile d&eacute;localis&eacute; (Scrum).</li>
				</ul>
			</li>
			<hr/>
			<li>
				<p>
					<a href="#">DOCAPOST, LA POSTE</a> : Lead d&eacute;veloppeur eZPublish 5
					<time datetime="2014-09-20" class="icon right">
  						<em>2 mois</em>
  						<strong>2013</strong>
  						<span>PHP</span>
					</time>
				</p>
				<a class="button-box blue" href="#competences"><u>Web</u> : PHP, eZPublish5</a>
				<p>D&eacute;veloppement du site jedeclare - docapost en eZPublish 5</p>
			</li>
			<hr/>
			<li>
				<p>
					<a href="#">LIRMM.FR, LIRMM</a> : Expert technique eZ Publish 4.6
					<time datetime="2014-09-20" class="icon right">
  						<em>4 mois</em>
  						<strong>2012 / 2013</strong>
  						<span>PHP</span>
					</time>
				</p>
				<a class="button-box blue" href="#competences"><u>Web</u> : PHP, eZPublish4, Formation</a>
				<ul>
					<li>R&eacute;alisation de l'avant vente</li>
					<li>Audit technique du projet lirmm.fr</li>
					<li>Expertise eZPublish + Formation externe</li>
					<li>Pilotage d'ateliers fonctionnels</li>
				</ul>
			</li>
			<hr/>
			<li>
				<p>
					<a href="#">PLATFORM, ROYALCANIN</a> : Lead d&eacute;veloppeur eZ Publish 4.5, lead d&eacute;veloppeur en solution mobile
					<time datetime="2014-09-20" class="icon right">
  						<em>3 ans</em>
  						<strong>2010 / 2013</strong>
  						<span>PHP</span>
					</time>
				</p>
				<a class="button-box blue" href="#competences"><u>Web</u> : PHP, eZPublish4, <u>Mobile</u> : Android, iOS4</a>
				<ul>
					<li>R&eacute;alisation de l'usine &agrave; sites www.royalcanin.com</li>
					<li>R&eacute;alisation de sous-sites (gestion des produits, encyclop&eacute;die du chien)</li>
					<li>R&eacute;alisation d'applications mobiles (iOS + Android)</li>
				</ul>
			</li>
		</ul>
  	</div>
</div>