<div class="row" id="realisations">
  	<div class="divider twelve columns end">
		<p>R&eacute;alisations</p>
  	</div>

	<div class="nine columns end">
  		<div class="twelve columns end">
			<h4>Zori</h4>
			<h5>
				<a class="url-link external-link" href="http://github.com/FlipFlopWeekly/zori" target="_blank">github.com/FlipFlopWeekly/zori</a>
			</h5>
			<p>Site de partage de liens musicaux en temps r&eacute;el.</p>
			<p>Utilisation de Firebase comme stockage et serveur push, et AngularJS, RequireJS pour la partie site.</p>
  		</div>

  		<div class="twelve columns end">
			<h4>Zorios</h4>
			<h5>
				<a class="url-link external-link" href="http://github.com/FlipFlopWeekly/zorios" target="_blank">github.com/FlipFlopWeekly/zorios</a>
			</h5>
			<p>Version iPhone de Zori (pour la partie utilisateur).</p>
		</div>
	</div>

	<div class="three columns end">
		<img alt="Zori" src="/img/projets/zori_home_capture.png"/>
  	</div>
  	
  	<hr />
  	
  	<div class="nine columns end">
  		<div class="twelve columns end">
			<h4>Knov</h4>
			<h5>
				<a class="url-link external-link" href="http://github.com/iGitScor/knov" target="_blank">github.com/iGitScor/knov</a>
			</h5>
			<p>Site de partage de culture en temps r&eacute;el.</p>
			<p>Utilisation de Firebase comme stockage et serveur push, et AngularJS, RequireJS pour la partie site.</p>
			<p class="hide-on-print"><a href="/projets/knov" title="Knov" class="button-box">Voir la fiche du projet</a></p>
  		</div>
	</div>
</div>